<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="cn.hzw.doodle">

    <application>
        <!--///注意：必须设置为固定屏幕方向，否则翻屏时会丢失全部修改！-->
        <activity android:name=".DoodleActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>
