<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="cn.hzw.doodle">

    <application>
        <activity android:name=".DoodleActivity"
            android:configChanges="screenSize|orientation|keyboardHidden|navigation|keyboard" />
    </application>

</manifest>
